#lista_Matérias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.matéria {
    width: 400px;
    height: 530px;
    border-radius: 10px;
    margin: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.matéria img {
    width: 320px;
    height: 320px; 
}

.btn_Entrar {
    display: flex;
    justify-content: center;
}

.btn_Entrar button {
    width: 250px;
    height: 90px;
    font-size: 40px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: springgreen solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    height: 760px;
}

.subTitulo {
    text-align: center;
}

.subTitulo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    padding: 0px 0px 15px 0px;
}